 .appContainer{
    display: flex;

  }
  /*
.custom-columns{
    width: calc(100vw - 520px);
    margin-left: 270px;
  }
  

  
  
  
  @media screen and (max-width: 800px) {
  .appContainer > div{
    width: calc(100vw - 160px);
    margin-left: 80px;
  }
  
  
  
    
  } */