/* Register.css

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .register-form {
  
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  

  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
   */

   /* Register.css */


  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #eadcd2d4;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    width: 60% !important;
    margin-top:15px !important ;
    padding: 12px;
    background-color: #51caf2;
    color: #fff;
    border: 1px solid bisque;
    border-radius: 8px !important;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color:  #c9c5be;
  }
  